<h1>Lista de usuarios</h1>

<form id="searchUsers">
  <input type="text" placeholder="User search ...">
</form>




{{#each user as |val|}}
<ul>
  <li>{{ val.name}} {{val.lastname}} {{val.phone}} {{val.email}}
    <a href="/delete">Eliminar</a>
  </li>
</ul>
{{/each}}

<a href="/user/form">Volver al form</a>

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script>  
  window.onload = function () {
    const list = document.querySelectorAll('ul');
    list.forEach(function (u) {
      console.log('u -> ', u)
    })



  }


</script>