{{!-- Form to create user and redirect to userList on submit --}}
<h1>Crear usuario</h1>
<div class="container">
  <div class="form">
    <fieldset>
      <form action="/user" method="post">
        <label for="name">Nombre</label>
        <input type="text" name="name" maxlength="30">
        <label for="lastname">Apellido</label>
        <input type="text" name="lastname" maxlength="30">
        <label for="phone">Telefono</label>
        <input type="phone" name="phone" pattern="[0-9]{10}">
        <label for="mail">E-mail</label>
        <input type="email" name="email">
        <button type="submit">Enviar</button>
      </form>
    </fieldset>
  </div>
</div>
<a class="link" href="/user/list">Ver Listado</a>
<a class="link" href="/">Volver Atras</a>