<h1>Lista de usuarios</h1>

<form id="searchUser">
  <input type="text" placeholder="Search user by name..." />
</form>
<br/>
<br/>
<div id="userList">
  <h2 class="title">Users</h2>
  <ul>
    {{#each user as |val|}}
    <li>
      <span class="name">{{ val.name}}</span>
      <span class="name">{{ val.lastname}}</span>
      <span class="name">{{ val.phone}}</span>
      <span class="name">{{ val.email}}</span>
      <span class="delete">
        <a href="/delete">Eliminar</a>
      </span>

    </li>
    {{/each}}
  </ul>
</div>



<a href="/user/form">Volver al form</a>