<h1>Lista de usuarios</h1>

<form id="searchUser">
  <input type="text" placeholder="Search user by name..." />
</form>
<br/>
<br/>
<div id="userList">
  <h2 class="title">Users</h2>
  <ul>
    {{#each user as |val key|}}
    <li>
      <span class="name">
        <span class="tag"> Nombre:</span> {{val.name}} </span>
      <span>
        <span class="tag"> Apellido:</span> {{ val.lastname}} </span>
      <span>
        <span class="tag"> Telefono:</span> {{ val.phone}} </span>
      <span>
        <span class="tag"> Email:</span> {{ val.email}} </span>
      <!--<button class="delete">Eliminar</button>-->
    </li>
    {{/each}}
  </ul>
</div>

<a class="link" href="/user/form">Volver al form</a>

<script src="/javascripts/searchBar.js"></script>