body {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #333;
  background-color: #eee;
}

/* style to make links look like buttons*/
.link {
  text-decoration: none;
  color: #eee;
  background-color: #3483fa;
  padding: 10px;
  border-radius: 5px;
}

/* forms styles */
fieldset {
  border: none;
}

input[type='text'],
input[type='email'],
input[type='phone'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type='submit'] {
  background-color: #3483fa;
  color: #eee;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  float: right;
  width: 15%;
  font-size: 20px;
}
.searchBar {
  background: url(/ic_Search.png) no-repeat scroll 10px 10px;
  padding: 11px 34px !important;
  font-size: 15px !important;
  background-color: white;
}
/* styles for userList */
ul {
  list-style-type: none;
  margin-bottom: 10%;
}

ul > li {
  margin-bottom: 10px;
}

.tag {
  font-weight: bold;
  margin-left: 10px;
}
