body {
  padding: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #333;
  background-color: #eee;
}

.link {
  text-decoration: none;
  color: #eee;
  background-color: #3483fa;
  padding: 10px;
  border-radius: 5px;
}
fieldset {
  border: none;
  margin-bottom: 2%;
}

input[type='text'],
input[type='email'],
input[type='phone'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type='submit'] {
  background-color: #3483fa;
  color: #eee;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  float: right;
  width: 15%;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin-bottom: 10%;
}
.tag {
  font-weight: bold;
  margin-left: 10px;
}
